.list {
    width: 500px;
    display: grid;
    background-color: #261844;
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    justify-content: center;
}

.columned {
    grid-template-columns: 33% 34% 33%;
}
.columned > * {
    margin: auto;
}

.panel {
    width: 500px;
    display: grid;
    background-color: #261844;
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    text-align: center;
}

@media only screen and (max-width: 530px) {
    .list {width: 100vw; padding: 0;}
    .item {width: 100vw;}
}